<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @recipe.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @recipe.description %>
</p>

<p>
  <strong>Dishid:</strong>
  <%= @recipe.dishId %>
</p>

<p>
  <strong>Recipecode:</strong>
  <%= @recipe.recipeCode %>
</p>

<p>
  <strong>Opensource:</strong>
  <%= @recipe.openSource %>
</p>

<%= link_to 'Edit', edit_recipe_path(@recipe) %> |
<%= link_to 'Back', recipes_path %>
